#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Expensify main CSS */

.info-page-css {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 45vw;
}
.title {
  position: absolute;
  left:72px;
  cursor: pointer;
}
.login-section {
  height: 100%;
 
}
.login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 14vw;
    left: 40px;
    height:41vh;
    width:30vw;
    padding: 10px;
    overflow: auto;
}
.text-field-css {
  width:20vw !important;
}
.button-color {
  background-color: #8B5CF6 !important;
}
.logo {
  top: 12px;
  left: 4px;
}
.signup-form {
  height: 53vh;
}
.my-confirm-button {
  background-color: #8B5CF6 !important;
  width:12vw;
}
.dashboard-section {
  position: absolute;
  top: 117px;
  left: 0px;
  background-color: white;
  height: 100%;
  width: 19vw;
}
.dashboard-options {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  top: 50px;
  cursor: pointer;
}
.current-tab-bg-color {
  background-color: #8B5CF6;
  border-radius: 7px;
  height: 40px;
  padding-top: 7px;
  color: white;
}
