#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Expensify main CSS */

.info-page-css {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 45vw;
}
.title {
  position: absolute;
  left:72px;
  cursor: pointer;
}
.login-section {
  height: 100%;
 
}
.login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 14vw;
    left: 40px;
    height:41vh;
    width:30vw;
    padding: 10px;
    overflow: auto;
}
.text-field-css {
  width:20vw !important;
}
.button-color {
  background-color: #8B5CF6 !important;
}
.logo {
  top: 12px;
  left: 4px;
}
.signup-form {
  height: 53vh;
}
.my-confirm-button {
  background-color: #8B5CF6 !important;
  width:12vw;
}
.dashboard-section {
  position: absolute;
  top: 117px;
  left: 0px;
  background-color: white;
  height: 150%;
  width: 19vw;
}
.dashboard-options {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  top: 50px;
  cursor: pointer;
}
.current-tab-bg-color {
  background-color: #8B5CF6;
  border-radius: 7px;
  height: 40px;
  padding-top: 7px;
  color: white;
}
.dashboardComp-section {
  position: relative;
  top: 11vh;
  left: 21vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vw;
}
.overview {
  height: 16vh;
  width: 20vw;
}
.dashboard-options p:hover {
  background-color: #DDD6FE;
  border-radius: 7px;
  height: 40px;
  color: white;
  padding-top: 7px;
}
.income-bar-chart {
  position: absolute;
  left: 22vw;
  width: 61vw;
  top: 7vw;
}
.income-btn-alignment {
  position: absolute;
  right: 22px;
  top: 37px;
  background-color: #DDD6FE !important;
  border: none !important;
  color:#8B5CF6 !important;
  font-weight: 600 !important;
}
.income-btn-alignment:hover {
  position: absolute;
  right: 22px;
  top: 37px;
  background-color:#8B5CF6!important;
  border: none !important;
  color:white!important;
  font-weight: 600 !important;
}
.income-source Button {
  background-color:#8B5CF6!important;
  border: none !important;
}
.emoji-option:hover {
  background-color:#8B5CF6!important;
  border: none !important;
}
.income-grid {
  height: 70vh;
  width: 61vw;
  position: absolute;
  top: 67vh;
  left: 22vw;
  overflow: auto;
}
.emoji-section {
  height: 3vh;
  width: 2vw;
  padding: 2px;
}
.income-div-alignment {
  position: relative;
  left: 4px;
  top: 25px;
}
.income-expense {
  height:3vh;
  width:4vw;
  color:green
}
.income-line-chart {
  position: absolute;
  left: 22vw;
  width: 61vw;
  top: 7vw;
  height:46vh;
}
.balance-btn-alignment {
  position: absolute;
  right: -7vw;
  top: -83px;
  background-color: #DDD6FE !important;
  border: none !important;
  color: #8B5CF6 !important;
  font-weight: 600 !important;
  width:15vw;
}

.balance-btn-alignment:hover {
  position: absolute;
  right: -7vw;
  top: -83px;
  background-color: #8B5CF6 !important;
  border: none !important;
  color: white !important;
  font-weight: 600 !important;
}
.list-items li {
  font-weight: 600;
}
.pie-chart-css {
  height: 36vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expense-dashboard-section {
  height: 38vh;
  width: 28vw;
  overflow: auto;
}
.source-css {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%; 
  display: block; 
}
#custom-date {
  cursor: pointer;
}
